# Указываем путь к виртуальному окружению
export VIRTUAL_ENV=".venv"

# Настроить окружение Python 3.12
layout python python3.12

# Загружаем переменные из .env, если он существует
dotenv_if_exists .env

# Устанавливаем PYTHONPATH для src
export PYTHONPATH=./src/
